<div>
    {{vm.message}}
</div>
<div id="Carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="Carousel" data-slide-to="0" class="active"></li>
        <li data-target="Carousel" data-slide-to="1"></li>
        <li data-target="Carousel" data-slide-to="2"></li>
        <li data-target="Carousel" data-slide-to="3"></li>
        <li data-target="Carousel" data-slide-to="4"></li>
        <li data-target="Carousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/Pets-Animals-720x500.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="images/landscape-1484258605-dog-boarding.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="images/dogandcatonbed.jpeg" class="img-responsive">
        </div>
        <div class="item">
            <img src="images/020717-pet-friendly-hotels-lead.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="images/d1da2521636d778f991cfb2ae04962e0.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="images/9950286_web1_doggieboarding_010918cs_002.jpg" class="img-responsive">
        </div>
    </div>
    <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" data-target="#Carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
</div>