<div>
    <h2>Add New Owner</h2>
    <form>
        <div class="form-group">
            <label>New Owner Name</label>
            <input type="text" class="form-control" placeholder="Enter email">
            <small class="form-text text-muted">Be sure to include your first name and last name.</small>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="(XXX)XXX-XXXX)">
            <small class="form-text text-muted">Phone Number</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit New Owner</button>
    </form>
</div>
<br>
<br>
<table>
<thead>
    <tr>
        <td>Owner Name</td>
        <td>Phone Number</td>

    </tr>
</thead>
<tbody ng-repeat="owners in vm.owner.details">
    <tr>
        <td>{{owners.owner_name}}</td>
        <td>{{owners.phone_num}}</td>
    </tr>

</tbody>

</table>